/* http://meyerweb.com/eric/tools/css/reset/ 
        v2.0 | 20110126
        License: none (public domain)
        */

        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed, 
        figure, figcaption, footer, header, hgroup, 
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        /* HTML5 display-role reset for older browsers */
        article, aside, details, figcaption, figure, 
        footer, header, hgroup, menu, nav, section {
            display: block;
        }
        body {
            line-height: 1;
        }
        ol, ul {
            list-style: none;
        }
        blockquote, q {
            quotes: none;
        }
        blockquote:before, blockquote:after,
        q:before, q:after {
            content: '';
            content: none;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        /* ================================= */
        /* =========== MY STYLES =========== */
        /* ================================= */

        /* ==== MOBILE-FIRST STYLES ==== */
        body {
            background: white;
            font-family: 'Open Sans', sans-serif;
        }
        .container {
            width: 100%;
            margin: 0 auto;
        }
        .home a{
            color:#222;
            background:#c58b22;
        }

        .nav-bg {
            background: #222;
            color: #c58b22;
            padding: 14px; 
        }

       
        



        nav ul li a {
            text-decoration: none;
            color: #c58b22;
            font-size: 18px;
            display: block;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .logo{
            background:#c58b22;
            width:auto;
        }
        .nav-bg form{
            display:flex;

        }
       
      

     
        #search{
            width:82vw;
            padding:14px;
            
        }
        
       form button{
            border:1px #c58b22;
            padding:14px;
            color:#c58b22;
            
        }

        .intro {
            background:url("images/main-banner.jpg")
           
            
        }
        .welcome{
            background:#222;
            opacity:0.7;
            max-width:760px;
            
        }
      
        .welcome h1{
           
            color:white;
            font-size:4.5rem;
            font-weight:bold;
            margin-left:1rem;
            margin-right:25px;
            padding-top:4rem;

            
        }

        .welcome p {
            color:white;
            font-size:1rem;
            margin-left:1rem;
            margin-right:4rem;
            padding-top:3rem;
        }
        .welcome button {
            background-color:#c58b22;
            margin-top:1rem;
           
            font-size:1.5rem;
            margin-left:1rem;
            padding:35px 18px;
            text-align:center;
            
        }
        .welcome .icon{
            margin-left:1rem;
           
        }  

        

        .about{
            background:#ffe6ac;
            padding:1rem 1rem;
            width:720px;
            
        }

        .about img {
            width:710px;
        }

        .about h2{
           margin-top:2rem;
           font-size: 3rem;
           font-weight:bold;
        }
        .about p{
            margin-top:2rem;
            

        }

      


      
   
   

        /* ==== This just sets the width for accuracy to the mock-up ==== */
        /* Don't put anything else in this media query! */

        @media screen and (min-width: 760px){
            .container {
                width: 760px;
            }
        }

        /* ==== DESKTOP STYLES ==== */

        @media screen and (min-width: 1200px){
            .container {
                width: 1200px;
            }
        }

