html {
    background-color: #aad4cf; /*Primary color specified */
    margin:0 190pt;
   
}
header{
    
    display:block;
    margin:0 auto;
    max-width: 1000px; /*Static width added for header */
    
}

body{

    max-width: 1000px;
    margin:0 auto;
    background-color:#D4E9E7; /*Secondary color for body specified */
}

.width {
    max-width: 1000px;
}

.widefish{
    position: relative;     /*Positioned relative to its normal position */
    display: inline-block;
    max-width: 1000px;
    margin: 0 auto;
}
.image{
    width:100%;     /*Image takes all the space available */
    
    margin: 0 auto;
   
    background-repeat: no-repeat; /*Prevents any repeat */
}

#text {
    font-family: "Times New Roman", Times, serif; /*font family of site title text */
    font-size: 40px;
    font-weight: normal;
    color: white;
    position: absolute;
    top:  130pt;  /*used for positioning the site title on specific area of image */
    left: 300pt;
   
    

    
    
}


.nav {
    
        
        margin: 0 auto;
        padding: 0;
        max-width: 1000px;
        background-color: #D4E9E7;
        overflow: auto;
        text-align:center; /*alligns the text to center */
        position: relative;
        
     
      
}
.nav li {
    
    text-align:center;
    border-right: 1px solid black; /*adds 1px vertical line on right of each li */
    
    float:left;
    display: inline;  /*displays li in line */
    width:25%;
    padding: 5px 35px;
    position:relative;
   
    
}

.nav a {
    text-decoration: none; /*removes underline from links */
    color:black;
    float: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    text-align:center;
    width:100%; 
    position: relative;
    font-size: 20px;
    
    

    
}

a:hover {
    color:gold;  /*Links turn gold when hovef over it */
}

.nav li:last-child {
    border-right:0; /*last child isn't bordered-right */
}

.art {
   text-align:normal;
    
}

.art p {
    margin:0 1% 0;
    
}

#pic {
  float:left; 
  margin-right: 1%;

}

article {
    margin:0 1% 0;
    
}




.form {
    margin:0 1% 0;
    width: 95.5%;
    height: 345px;
    border: 1px solid black; /*border around form added */
    padding:1%;
    
    
}

#name {
    width: 99%; /*specifies size of box in form */
    height:30%;
    
    margin: 8px 0;
    float:none;
    background-color: white;
    border-color: white;
   
    
}

#email {
    width: 99%;
    height:30%;
    
    margin: 8px 0;
    float:none;
    background-color: white;
    border-color: white;
   
    
}

#msg {
    width: 99%;
    height:60px;
    
    margin: 8px 0;
    float:none;
    background-color: white;
    border-color: white;
   
    
}

.round label {
    display: inline;
  position: relative;
  padding-left: 5px;
  font-size: 18px;
  
}




button {
    background-color: #D4E9E7;
    font-size:10px;
    color: black;
    border: 1px solid #555555; /*border around the button */
    width: 6%;
    height:33px;
    margin:1% 0;

}
button:hover {
    color:gold;
}




footer {
    text-align:right;
    margin:0 2%;
    margin-top: 2%; /*Positioning footer */
    max-width: 1000px;
}



